@import url('https://fonts.cdnfonts.com/css/Bellmt');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 24% 93%;
    --foreground: 0 0% 0%;
    --card: 60 24% 93%;
    --card-foreground: 0 0% 0%;
    --popover: 60 24% 93%;
    --popover-foreground: 0 0% 0%;
    --primary: 78 25% 41%;
    --primary-foreground: 60 24% 93%;
    --secondary: 78 25% 41%;
    --secondary-foreground: 60 24% 93%;
    --muted: 60 24% 85%;
    --muted-foreground: 0 0% 0%;
    --accent: 78 25% 41%;
    --accent-foreground: 60 24% 93%;
    --destructive: 0 0% 0%;
    --destructive-foreground: 60 24% 93%;
    --border: 0 0% 0%;
    --input: 0 0% 0%;
    --ring: 78 25% 41%;
    --radius: 0.5rem;
    --nature-green: 78 25% 41%;
    --nature-brown: 0 0% 0%;
    --nature-sky: 60 24% 93%;
    --computation-blue: 78 25% 41%;
    --computation-gray: 0 0% 0%;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 60 24% 93%;
    --card: 0 0% 0%;
    --card-foreground: 60 24% 93%;
    --popover: 0 0% 0%;
    --popover-foreground: 60 24% 93%;
    --primary: 78 25% 41%;
    --primary-foreground: 0 0% 0%;
    --secondary: 78 25% 41%;
    --secondary-foreground: 0 0% 0%;
    --muted: 0 0% 15%;
    --muted-foreground: 60 24% 93%;
    --accent: 78 25% 41%;
    --accent-foreground: 0 0% 0%;
    --destructive: 60 24% 93%;
    --destructive-foreground: 0 0% 0%;
    --border: 60 24% 93%;
    --input: 60 24% 93%;
    --ring: 78 25% 41%;
  }
}

@layer base {
  * {
    @apply border-border;
    scrollbar-width: thin;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media (min-width: 1024px) {
  body {
    zoom: 0.75;
  }
}

.season-font {
  font-family: 'Inter', sans-serif;
  color: hsla(0, 0%, 0%, 0.7);
  text-align: center;
  padding: 1rem 0;
  font-size: 0.8rem;
}
